/**
 * SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

body {
  color: #212121;
  background-color: #e5e5e5;
}

#site-wrapper {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.main-heading > a, .main-heading > a:hover {
  color: #4d4d4d !important;
  text-decoration: none !important;
}

.main-nav {
  background-color: #1976d2;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
}

.main-nav > a {
  height: 48px;
  padding: 16px 16px 16px 16px;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;
  text-transform: uppercase;
}
.main-nav > a:hover {
  background-color: #378fe7;
  color: #fff !important;
  opacity: 1.0;
}
.main-nav > a.current {
  border-bottom: 6px solid rgba(255, 255, 255, 0.4);
  line-height: 36px;
  padding-top: 6px;
}

#site-footer {
  color: #666;
  margin-top: 10px;
}

#logo {height: 48px;}
@media(min-width:576px){ #logo {height: 60px;}}
@media(min-width:768px){ #logo {height: 72px;}}
@media(min-width:992px){ #logo {height: 84px;}}
@media(min-width:1200px){ #logo {height: 96px;}}


a {
  color: #1976d2;
  transition: opacity .2s;
  text-decoration: none;
}
a:visited {
  color: #11508e;
}
a:hover {
  opacity: .65;
  text-decoration: underline;
}
a:active {
  opacity: .5;
}
